#c2d {
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    position: absolute;
}

html,body {
    background-image:
      radial-gradient(1px 1px at 20px 20px, white, transparent),
      radial-gradient(1.5px 1.5px at 100px 200px, white, transparent),
      radial-gradient(2px 2px at 300px 100px, white, transparent),
      radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  